absl-py==2.1.0
accelerate==0.30.1
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
albumentations==0.5.2
altair==5.3.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
braceexpand==0.1.7
cachetools==5.3.3
certifi==2024.6.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
cmake==3.29.3
coloredlogs==15.0.1
colorlog==6.8.2
contourpy==1.1.1
cycler==0.12.1
decorator==5.1.1
defusedxml==0.7.1
diff_gaussian_rasterization @ file:///data2/manan/DGE/gaussiansplatting/submodules/diff-gaussian-rasterization
diffusers==0.27.2
dnspython==2.6.1
docker-pycreds==0.4.0
docstring_parser==0.16
easydict==1.13
einops==0.8.0
email_validator==2.1.1
embreex==2.17.7.post4
envlight @ git+https://github.com/ashawkey/envlight.git@05b5851e854429d72ecaf5b206ed64ce55fae677
eval_type_backport==0.2.0
exceptiongroup==1.2.1
executing==2.0.1
fastapi==0.111.0
fastapi-cli==0.0.4
ffmpy==0.3.2
filelock==3.14.0
flatbuffers==24.3.25
fonttools==4.53.0
freetype-py==2.4.0
frozenlist==1.4.1
fsspec==2024.5.0
ftfy==6.2.0
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.29.0
google-auth-oauthlib==1.0.0
gradio==3.50.2
gradio_client==0.6.1
groundingdino @ git+https://github.com/IDEA-Research/GroundingDINO.git@df5b48a3efbaa64288d8d0ad09b748ac86f22671
grpcio==1.64.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.3
humanfriendly==10.0
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.0
imgaug==0.4.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
ipython==8.12.3
jaxtyping==0.2.19
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
keras==2.15.0
kiui @ git+https://github.com/ashawkey/kiuikit@352321339e0d055e92ea75dfb945b203ac42a0ef
kiwisolver==1.4.5
kornia==0.7.0
lang-sam @ git+https://github.com/luca-medeiros/lang-segment-anything.git@831cdc10906a23aabe4591a4be06f4c989e4ee30
lazy_loader==0.4
libigl==2.5.1
lightning==2.2.5
lightning-utilities==0.11.2
lit==18.1.6
llvmlite==0.41.1
lxml==5.2.2
mapbox-earcut==1.0.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapy==1.2.1
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
nerfacc==0.3.3
networkx==3.1
ninja==1.11.1.1
nodeenv==1.9.0
numba==0.58.1
numpy==1.24.4
nvdiffrast @ git+https://github.com/NVlabs/nvdiffrast.git@c5caf7bdb8a2448acc491a9faa47753972edd380
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.535.161
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
nvitop==1.3.2
oauthlib==3.2.2
objprint==0.2.3
omegaconf==2.3.0
onnxruntime==1.18.0
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
orjson==3.10.3
packaging==24.0
pandas==2.0.3
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.3.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.2
plyfile==1.0.3
pooch==1.8.1
prompt_toolkit==3.0.45
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybind11==2.12.0
pycocotools==2.0.7
pycollada==0.8
pydantic==2.7.2
pydantic_core==2.18.3
pydub==0.25.1
pyglet==2.0.15
Pygments==2.18.0
pyliblzfse==0.4.1
PyMatting==1.1.12
PyMCubes==0.1.4
PyOpenGL==3.1.0
pyparsing==3.1.2
pyrender==0.1.45
pysdf==0.1.9
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytorch-lightning==2.2.5
pytz==2024.1
PyWavelets==1.4.1
PyYAML==6.0.1
referencing==0.35.1
regex==2024.5.15
rembg==2.0.57
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
Rtree==1.2.0
safetensors==0.4.3
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.0
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@6fdee8f2727f4506cfbbe553e23b895e27956588
semantic-version==2.10.0
sentry-sdk==2.3.1
setproctitle==1.3.3
shapely==2.0.4
shellingham==1.5.4
shtab==1.7.1
simple_knn @ file:///data2/manan/DGE/gaussiansplatting/submodules/simple-knn
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.3
starlette==0.37.2
supervision==0.18.0
svg.path==6.3
sympy==1.12.1
tensorboard==2.14.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2023.7.10
timm==1.0.3
tinycudann @ git+https://github.com/NVlabs/tiny-cuda-nn/@4892659e015b12bd2fce446b8a8e33e646b21746#subdirectory=bindings/torch
tokenizers==0.13.3
tomli==2.0.1
toolz==0.12.1
torch==2.0.1
torch_efficient_distloss==0.1.3
torchmetrics==1.4.0.post0
torchvision==0.15.2+cu117
tqdm==4.66.4
traitlets==5.14.3
transformers==4.28.1
trimesh==4.4.0
triton==2.0.0
typeguard==4.3.0
typer==0.12.3
typing_extensions==4.12.1
tyro==0.8.4
tzdata==2024.1
ujson==5.10.0
urllib3==2.2.1
uvicorn==0.30.0
uvloop==0.19.0
varname==0.13.1
vhacdx==0.0.6
viser==0.2.0
wandb==0.17.0
watchfiles==0.22.0
wcwidth==0.2.13
webdataset==0.2.86
websockets==11.0.3
Werkzeug==3.0.3
xatlas==0.0.9
xxhash==3.4.1
yapf==0.40.2
yarl==1.9.4
yourdfpy==0.0.56
zipp==3.19.1
